[submodule "awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "keyboard_layout"]
	path = awesome/keyboard_layout
	url = https://github.com/echuraev/keyboard_layout.git
[submodule "lua-language-server"]
	path = nvim/lua-language-server
	url = https://github.com/sumneko/lua-language-server
